.container {}

.infoContainer {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}

.textContainer {
    flex: 1
}

.title {
    font-size: 2rem;
    margin-bottom: 50px;
}

.user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.userImageContainer {
    width: 50px;
    height: 50px;
    position: relative;
}


.avatar {
    border-radius: 50%;
    /* object-fit: cover; */
}

.userTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    color: var(--softTextColor)
}

.username {
    font-size: 1.2rem;
    font-weight: 500;
}

.date {}

.imageContainer {
    flex: 1;
    height: 350px;
    position: relative;
}

.image {
    object-fit: cover;
    border-radius: 5%;
}

.content {
    display: flex;
    gap: 50px;
    margin-top: 50px
}

.post {
    flex: 5
}

.description{
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: 20px;
}

@media screen and (max-width: 1024px){
    .imageContainer{
        display: none;
    }
}

@media screen and (max-width: 770px){
    .title{
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 640px){
    .title{
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 480px){
    .title{
        font-size: 24px;
    }

    .description{
        font-size: 15px;
    }
}

